<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}La liga{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets "@liga_css" %}<link type="text/css" href="{{ asset_url }}" rel="stylesheet" />{% endstylesheets %}
        {% stylesheets "@liga_scss" %}<link type="text/css" href="{{ asset_url }}" rel="stylesheet" />{% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block head %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% javascripts "@liga_js"  %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
    </body>
</html>
