<header class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="header-author">Julián Grande Herrera</span>
            <div class="navbar-text navbar-brand-centered"><h3>{{ section|default('') }}</h3></div>
        </div>
    </div>
</header>
