/* line 3, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
.gi-1x {
  font-size: 1em;
}

/* line 7, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
.gi-2x {
  font-size: 2em;
}

/* line 11, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
.gi-3x {
  font-size: 3em;
}

/* line 15, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
.gi-4x {
  font-size: 4em;
}

/* line 19, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
.gi-5x {
  font-size: 5em;
}

/* line 23, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body {
  margin: 20px;
}
/* line 27, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body #accordion .glyphicon {
  margin-right: 10px;
}
/* line 33, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .panel-collapse > .list-group {
  margin-bottom: 0;
}
/* line 35, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
}
/* line 38, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .panel-collapse > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
/* line 45, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .panel-collapse .list-group-item {
  border-radius: 0;
}
/* line 50, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .panel-collapse .list-group .list-group {
  margin: 0;
  margin-top: 10px;
}
/* line 57, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .panel-collapse .list-group-item li.list-group-item {
  margin: 0 -15px;
  border-top: 1px solid #dddddd;
  border-bottom: 0;
  padding-left: 30px;
}
/* line 63, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .panel-collapse .list-group-item li.list-group-item:last-child {
  padding-bottom: 0;
}
/* line 70, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .panel-collapse div.list-group div.list-group {
  margin: 0;
}
/* line 75, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .panel-collapse div.list-group .list-group a.list-group-item {
  border-top: 1px solid #dddddd;
  border-bottom: 0;
  padding-left: 30px;
}
/* line 85, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .panel-body .form-group {
  overflow: hidden;
}
/* line 92, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  text-align: center;
  background-color: transparent;
}
/* line 100, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .navbar-brand-centered h3 {
  margin: -2px 0 0 -30px;
}
/* line 106, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .navbar > .container .navbar-brand-centered {
  margin-left: -80px;
}
/* line 112, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .navbar > .container-fluid .navbar-brand-centered {
  margin-left: -80px;
}
/* line 116, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .navbar > .container-fluid .navbar-header {
  padding-left: 10px;
}
/* line 122, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .action-buttons {
  margin-top: 24px;
}
/* line 125, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .action-buttons button[type="submit"] {
  margin-right: 10px;
}
/* line 131, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .header-author {
  text-align: left;
  font-size: 1em;
  color: #3c763d;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 21px;
}
/* line 143, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .navbar-text h3 {
  color: #6e6e6e;
  font-size: 1.3em;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-align: center;
  text-rendering: optimizeLegibility;
  letter-spacing: .03em;
}
/* line 151, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .navbar-text h3:hover {
  text-decoration: none;
}
/* line 160, ../../../src/BackendBundle/Resources/public/liga/css/_base.scss */
body .select2-container--default .select2-selection--multiple,
body .select2-container--focus .select2-selection--multiple {
  border: 1px solid #cccccc !important;
}
